.Palette {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto Mono', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

.Palette-colors {
  height: 90%;
}
