.paletteSaveForm {
  button {
    font-family: 'Roboto Mono' !important;
    background-color: steelblue;
    color: white;
  }
}

.save-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', sans-serif;
}

#form-dialog-title {
  * {
    font-family: 'Roboto Mono' !important;
  }
}
