@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap');

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  font-family: 'Roboto Mono', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  background-color: #e4e8e9;
  height: 100%;
  padding: 0 10px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
  color: black;
}

.Slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
  background-color: darkgrey;
  border: 2px solid darkgrey;
  outline: none;
}

.select-container {
  font-size: 15px;
  margin-right: 1rem;
}

.MuiInput-underline:before {
  border-bottom: none !important;
}
